Why pandas??
we dont need to do code from scratch
heteregenous data not only numeric like Numpy
it helps for the data clean to check stability
multiple datatype and support formars along with integretation
time-series data(stock-market, weather changing data)
descriptive statistics

In [ ]:
import pandas as pd

Data Structure - Series:

In [ ]:
import pandas as pd
# Creating a simple Series
data = [10, 20, 30, 40]
series = pd.Series(data)#it shows the datatype
print(series)

0    10
1    20
2    30
3    40
dtype: int64

Data Structure - Index:

In [ ]:
# Default Index
import pandas as pd
series = pd.Series([10, 20, 30])#it gives in vertically
print(series.index)
# Output: RangeIndex(start=0, stop=3, step=1)
# User Defined:
series = pd.Series([10, 20, 30],index=['a','b','c'])
print(series)
# Output:
# a 10
# b 20
# c 30
#datestime index
dates = pd.date_range('2023-01-01', periods=3)
series = pd.Series([10, 20, 30], index=dates)
print(series)

RangeIndex(start=0, stop=3, step=1)
a    10
b    20
c    30
dtype: int64
2023-01-01    10
2023-01-02    20
2023-01-03    30
Freq: D, dtype: int64

In [ ]:
#Access
print(series.index)
# Set or Reset Index
series.index = ['x', 'y', 'z'] # Series
# For DataFrame
df = pd.DataFrame({'A': [1, 2]}, index=['row1', 'row2'])
df.reset_index(inplace=True)#it reset the data into original
# Converts the index into a column

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq='D')

Data Structure - DataFrames.

In [ ]:
#Transforming in-built data structures-DataFrame
#Style-1
import pandas as pd
pd.DataFrame({'Bob': ['I liked it.','It was awful'], 'Sue': ['Pretty good.', 'Bland.']})
#Style-2
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},

index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

DataFrames - Loading Data to DataFrames.

In [ ]:
#Importing Data from file
import pandas as pd
# path to your dataset must be given to built in read_csv("Your path") function.
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/bank .csv")
dataset.head()
dataset.tail()
dataset.info()
# Run the above code and observe the output.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

Data Structure - DataFrames.

In [ ]:
#Transforming in-built data structures-DataFrame
#Style-1
import pandas as pd
pd.DataFrame({'Bob': ['I liked it.','It was awful'], 'Sue': ['Pretty good.', 'Bland.']})
#Style-2
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},

index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

DataFrames - Writing DataFrames to CSV.

In [ ]:
#Importing Data from file
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data) # creating a DataFrame
#Writing DataFrame to csv.
df.to_csv('output.csv', index=False)
# Run the above code and observe the output.
#It doesnt show any output.

Basic Operation on Data: Data Inspection and Exploration:
1. First Data Inspection and Exploration:

In [ ]:
import pandas as pd
# Sample DataFrame
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)
# View the first two rows
print(df.head(2))
# View the last row
print(df.tail(1))
# DataFrame information
print(df.info())
# Summary statistics
print(df.describe())
# Check dimensions of the DataFrame
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")
# Access the ’Age’ column
print(df['Age'])
# Select rows by numerical index
print(df.iloc[0]) # First row
# Select rows by condition
print(df.loc[df['Age'] > 30]) # Rows where Age > 30

    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000
      Name  Age  Salary
2  Charlie   35   70000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes
None
        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0
The DataFrame has 3 rows and 3 columns.
0    25
1    30
2    35
Name: Age, dtype: int64
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object
      Name  Age  Salary
2  Charlie   35   70000

Filtering and Modifying Data:

In [ ]:
import pandas as pd
df = pd.DataFrame({
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'Salary': [50000, 60000, 70000]
})
# Filter rows where Age > 28
filtered_rows = df[df['Age'] > 28]
print(filtered_rows)
#Select Specific Columns
# Select only ’Name’ and ’Salary’ columns
selected_columns = df[['Name', 'Salary']]
print(selected_columns)

      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000

Sample Code from Slide - 30 - Droping and Adding a Columns.

In [ ]:
# Drop the ’Salary’ column
df_without_salary = df.drop(columns=['Salary'])
print(df_without_salary)
# Drop the row with index 1 (Bob)
df_without_row = df.drop(index=1)
print(df_without_row)
# Add a new column for Bonus
df['Bonus'] = df['Salary'] * 0.1
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
      Name  Age  Salary
0    Alice   25   50000
2  Charlie   35   70000
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   35   70000  7000.0

Basic Operation on Data - Data Wrangling - Common Data Cleaning
operations:

Handling Missing Values:

In [ ]:
# Adding Some Missing Values
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np
iris = load_iris() # Load the Iris dataset
iris_df = pd.DataFrame(data=np.c_[iris['data'], iris['target']], columns=iris['feature_names'] + ['target'])
np.random.seed(42) # Introduce missing values randomly
mask = np.random.rand(*iris_df.shape) < 0.1 # 10%
iris_df[mask] = np.nan
print("Missing Values in Iris Dataset:")
print(iris_df.isnull().sum())

Missing Values in Iris Dataset:
sepal length (cm)    15
sepal width (cm)     15
petal length (cm)    19
petal width (cm)     15
target               19
dtype: int64

Handling Missing values - Techniques for Filling Missing Values.

In [ ]:
# Filling missing values with forward fill (ffill), mean, median, and 0
iris_df_ffill = iris_df.ffill()
iris_df_mean = iris_df.fillna(iris_df.mean())
iris_df_median = iris_df.fillna(iris_df.median())

iris_df_zero = iris_df.fillna(0)
# Expand iris_df with filled columns
iris_df_expanded = pd.concat([iris_df, iris_df_ffill.add_suffix('_ffill'), iris_df_mean.add_suffix('_mean'),iris_df_median.add_suffix('_median'),iris_df_zero.add_suffix('_zero')], axis=1)
# Display the head of the expanded DataFrame
print("\nDataset after Filling Missing Values:")
print(iris_df_expanded.head())

Dataset after Filling Missing Values:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               NaN                1.4               0.2
2                NaN               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target  sepal length (cm)_ffill  sepal width (cm)_ffill  \
0     0.0                      5.1                     3.5
1     0.0                      4.9                     3.5
2     0.0                      4.9                     3.2
3     0.0                      4.6                     3.1
4     0.0                      5.0                     3.6

   petal length (cm)_ffill  petal width (cm)_ffill  target_ffill  ...  \
0                      1.4                     0.2           0.0  ...
1                      1.4                     0.2           0.0  ...
2                      1.3                     0.2           0.0  ...
3                      1.5                     0.2           0.0  ...
4                      1.4                     0.2           0.0  ...

   sepal length (cm)_median  sepal width (cm)_median  \
0                       5.1                      3.5
1                       4.9                      3.0
2                       5.8                      3.2
3                       4.6                      3.1
4                       5.0                      3.6

   petal length (cm)_median  petal width (cm)_median  target_median  \
0                       1.4                      0.2            0.0
1                       1.4                      0.2            0.0
2                       1.3                      0.2            0.0
3                       1.5                      0.2            0.0
4                       1.4                      0.2            0.0

   sepal length (cm)_zero  sepal width (cm)_zero  petal length (cm)_zero  \
0                     5.1                    3.5                     1.4
1                     4.9                    0.0                     1.4
2                     0.0                    3.2                     1.3
3                     4.6                    3.1                     1.5
4                     5.0                    3.6                     1.4

   petal width (cm)_zero  target_zero
0                    0.2          0.0
1                    0.2          0.0
2                    0.2          0.0
3                    0.2          0.0
4                    0.2          0.0

[5 rows x 25 columns]

Some Common Operations on Data Cleaning.

In [ ]:
#--------------------------------------------------------------------
# -----------Trimming Whitespaces:----------------------------------
#--------------------------------------------------------------------
df = pd.DataFrame({'Name': ['Alice ', 'Bob '], 'Age': [25, 30]})
df['Name'] = df['Name'].str.strip()
#--------------------------------------------------------------------
#-------------Changing Datatype:-------------------------------------
#--------------------------------------------------------------------
df = pd.DataFrame({'Age': ['25', '30', '35']})
# Change ’Age’ column data type to integer
df['Age'] = df['Age'].astype(int)
print(df)
#--------------------------------------------------------------------
#-------------Renaming Columns:-------------------------------------
#--------------------------------------------------------------------
# Rename columns
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df = df.rename(columns={'Name':  'Full Name', 'Age': 'Years'})
print(df)
#--------------------------------------------------------------------
#--------------Removing Duplicates:-----------------------------------
#--------------------------------------------------------------------
# Remove duplicate rows
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 25]})
df = df.drop_duplicates()
print(df)

   Age
0   25
1   30
2   35
  Full Name  Years
0     Alice     25
1       Bob     30
    Name  Age
0  Alice   25
1    Bob   30

Data Transformation - DataFrame Reshaping.

In [ ]:
#------------------Pivoting----------------------------------------
import pandas as pd
# Sample DataFrame
data = {'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
'Temperature': [15, 18, 16, 19]}
df = pd.DataFrame(data)
# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')
print(pivoted_df)
#---------------------------------------------------------------------------
#---------------------------Melting-----------------------------------------
#---------------------------------------------------------------------------
# Melt: Convert wide data back to long format
melted_df = pd.melt(pivoted_df.reset_index(), id_vars=['Date'],
var_name='City', value_name='Temperature')

print(melted_df)

City        Kathmandu  Pokhara
Date
2024-01-01         15       18
2024-01-02         16       19
         Date       City  Temperature
0  2024-01-01  Kathmandu           15
1  2024-01-02  Kathmandu           16
2  2024-01-01    Pokhara           18
3  2024-01-02    Pokhara           19

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris() # Load the Iris dataset
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])
# Min-Max Scaling using Pandas
iris_minmax_scaled = (iris_df - iris_df.min()) / (iris_df.max() - iris_df.min())
print("Original Iris DataFrame:")
print(iris_df.head())
print("\nMin-Max Scaled Iris DataFrame:")
print(iris_minmax_scaled.head()) # Display scaled data

Original Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Min-Max Scaled Iris DataFrame:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

Data Transformation - Handling Categorical Variables:

In [ ]:
import pandas as pd
# Sample DataFrame with ordinal categories
df = pd.DataFrame({'Category': ['Low', 'Medium', 'High', 'Low', 'High']})
# Ordinal encoding using map
ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
df['Category_Ordinal'] = df['Category'].map(ordinal_mapping)
print(df)

  Category  Category_Ordinal
0      Low                 1
1   Medium                 2
2     High                 3
3      Low                 1
4     High                 3

Handling Categorical Variables - One Hot Encoding.

In [ ]:
import pandas as pd
df_municipalities = pd.DataFrame({'Municipality': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Madhyapur','Thimi', 'Kirtipur']})
one_hot_encoding = pd.get_dummies(df_municipalities['Municipality'], prefix='Municipality')
df_encoded = pd.concat([df_municipalities, one_hot_encoding], axis=1)
print(df_encoded)# Display the result

  Municipality  Municipality_Bhaktapur  Municipality_Kathmandu  \
0    Kathmandu                   False                    True
1    Bhaktapur                    True                   False
2     Lalitpur                   False                   False
3    Madhyapur                   False                   False
4        Thimi                   False                   False
5     Kirtipur                   False                   False

   Municipality_Kirtipur  Municipality_Lalitpur  Municipality_Madhyapur  \
0                  False                  False                   False
1                  False                  False                   False
2                  False                   True                   False
3                  False                  False                    True
4                  False                  False                   False
5                   True                  False                   False

   Municipality_Thimi
0               False
1               False
2               False
3               False
4                True
5               False

Merging and joining DataFrames:

In [ ]:
import pandas as pd
# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
# Row-wise concatenation
combined_rows = pd.concat([df1, df2], axis=0)
print("Row-wise concatenation:")
print(combined_rows)
# Column-wise concatenation
combined_cols = pd.concat([df1, df2], axis=1)
print("\nColumn-wise concatenation:")
print(combined_cols)


# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})
# Inner join
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_merged)
# Left join
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_merged)
# Outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Join:")
print(outer_merged)

Row-wise concatenation:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

Column-wise concatenation:
   A  B  A  B
0  1  3  5  7
1  2  4  6  8
Inner Join:
   ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

Left Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0

Outer Join:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
3   4      NaN   88.0

1. Load the provided dataset and import in pandas DataFrame.

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/bank .csv')
df.head()#it gives the top upto 5
df.tail()#it gives upto last

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

Check info of the DataFrame and identify following:
(a) columns with dtypes=object
(b) unique values of those columns.
(c) check for the total number of null values in each column.

In [ ]:
df.dtypes#objects generally means string and sometimes it gives integer value

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [ ]:
#2: Check info of the DataFrame
# (a) Identify columns with dtype=object
object_columns = df.select_dtypes(include=['object']).columns
print("Columns with dtype=object:")
print(object_columns)

# (b) Find unique values of those columns
print("\nUnique values of dtype=object columns:")
for col in object_columns:
    print(f"{col}: {df[col].unique()}")

# (c) Check for the total number of null values in each column
null_values = df.isnull().sum()
print("\nTotal number of null values in each column:")
print(null_values)

Columns with dtype=object:
Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

Unique values of dtype=object columns:
job: ['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']
marital: ['married' 'single' 'divorced']
education: ['tertiary' 'secondary' 'unknown' 'primary']
default: ['no' 'yes']
housing: ['yes' 'no']
loan: ['no' 'yes']
contact: ['unknown' 'cellular' 'telephone']
month: ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
poutcome: ['unknown' 'failure' 'other' 'success']
y: ['no' 'yes']

Total number of null values in each column:
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
#3: Drop all the columns with dtypes object and store in new DataFrame, also write the DataFrame in
#”.csv” with name ”banknumericdata.csv”
df_numeric = df.drop(columns=object_columns)
df_numeric.to_csv("banknumericdata.csv", index=False)

In [ ]:
#4: Read the new ”banknumericdata.csv” and find summary statistics
df_numeric_reloaded = pd.read_csv("banknumericdata.csv")
summary_statistics = df_numeric_reloaded.describe()
print("\nSummary Statistics:")
print(summary_statistics)

Summary Statistics:
                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000

#Problem 2 - Data Imputations:
Complete all the following Task:
• Dataset for the Task: "medical_student.csv"
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify column with missing (null) values.
3. For the column with missing values fill the values using various techniques we discussed above. Try
to explain why did you select the particular methods for particular column.
4. Check for any duplicate values present in Dataset and do necessary to manage the duplicate items.
{Hint: dataset.duplicated.sum()}

In [ ]:
#1.importing the data from file
import pandas as pd
dataset=pd.read_csv("/content/banknumericdata.csv");
#checking the info of the Dataframe
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       45211 non-null  int64
 1   balance   45211 non-null  int64
 2   day       45211 non-null  int64
 3   duration  45211 non-null  int64
 4   campaign  45211 non-null  int64
 5   pdays     45211 non-null  int64
 6   previous  45211 non-null  int64
dtypes: int64(7)
memory usage: 2.4 MB

In [ ]:
#counting the number of null values in each column
missing_values=dataset.isnull().sum()
print("Columns with missing values=\n",missing_values)

Columns with missing values=
 age         0
balance     0
day         0
duration    0
campaign    0
pdays       0
previous    0
dtype: int64

dataset.fillna(0)->This method is easy to implement and could be applied to numerical columns.

In [ ]:
#missing null values with zero
dataset_zeros=dataset.fillna(0)
print("Filling null values with zero=\n ",dataset_zeros)

Filling null values with zero=
         age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261         1     -1         0
1       44       29    5       151         1     -1         0
2       33        2    5        76         1     -1         0
3       47     1506    5        92         1     -1         0
4       33        1    5       198         1     -1         0
...    ...      ...  ...       ...       ...    ...       ...
45206   51      825   17       977         3     -1         0
45207   71     1729   17       456         2     -1         0
45208   72     5715   17      1127         5    184         3
45209   57      668   17       508         4     -1         0
45210   37     2971   17       361         2    188        11

[45211 rows x 7 columns]

dataset.ffill()-> It is used to filling the missing value of a column by coping the value of the previous non-missing observation so we can logically fill the missing values with the last values

In [ ]:
#filling missing/null values using forward fill
dataset_forward_fill=dataset.ffill()
print("Filling null values with forward fill= \n",dataset_forward_fill)

Filling null values with forward fill=
        age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261         1     -1         0
1       44       29    5       151         1     -1         0
2       33        2    5        76         1     -1         0
3       47     1506    5        92         1     -1         0
4       33        1    5       198         1     -1         0
...    ...      ...  ...       ...       ...    ...       ...
45206   51      825   17       977         3     -1         0
45207   71     1729   17       456         2     -1         0
45208   72     5715   17      1127         5    184         3
45209   57      668   17       508         4     -1         0
45210   37     2971   17       361         2    188        11

[45211 rows x 7 columns]

dataset['column_name'].fillna(dataset['column_name'].median())->Using this method, we can replace missing values with the median value in the numerical columns. It is a good way to fill missing values when the dataset might contain outliers.

In [ ]:
#filling missing/null values of age with the mean of the column
dataset_mean= dataset['age'].fillna(dataset['age'].mean()) # Changed 'Age' to 'age'
print("Filling null values with mean=\n",dataset_mean)

Filling null values with mean=
 0        58
1        44
2        33
3        47
4        33
         ..
45206    51
45207    71
45208    72
45209    57
45210    37
Name: age, Length: 45211, dtype: int64

dataset['column_name'].fillna(dataset['column_name'].mode())->Using this method, we can replace missing values with the most occured value in the numerical columns.

In [ ]:
#filling missing/null values of age with mode of the column
dataset_mode=dataset['age'].fillna(dataset['age'].mode()[0]) # Access the first element of the mode Series
print("Filling null values with mode=\n",dataset_mode)

Filling null values with mode=
 0        58
1        44
2        33
3        47
4        33
         ..
45206    51
45207    71
45208    72
45209    57
45210    37
Name: age, Length: 45211, dtype: int64

In [ ]:
#4. Check for any duplicate values present in Dataset and do necessary to manage the duplicate items.
#checking for duplicate rows
duplicate_count=dataset.duplicated().sum()
print("Number of duplicate rows= \n",duplicate_count)

Number of duplicate rows=
 1

Number of duplicate rows=
 7644

In [ ]:
#displaying the duplicated rows
duplicates=dataset[dataset.duplicated()]
print("Duplicate rows=\n",duplicates)

Duplicate rows=
        age  balance  day  duration  campaign  pdays  previous
25793   57        0   19        97         1     -1         0

In [ ]:
#Removing duplicate rows
dataset_without_duplicates=dataset.drop_duplicates()
print("Dataset after removing duplicates= \n",dataset_without_duplicates)

Dataset after removing duplicates=
        age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261         1     -1         0
1       44       29    5       151         1     -1         0
2       33        2    5        76         1     -1         0
3       47     1506    5        92         1     -1         0
4       33        1    5       198         1     -1         0
...    ...      ...  ...       ...       ...    ...       ...
45206   51      825   17       977         3     -1         0
45207   71     1729   17       456         2     -1         0
45208   72     5715   17      1127         5    184         3
45209   57      668   17       508         4     -1         0
45210   37     2971   17       361         2    188        11

[45210 rows x 7 columns]

#Problem - 1:
Create a DataFrame that is subsetted for the columns ’Name’, ’Pclass’, ’Sex’, ’Age’, ’Fare’, and ’Survived’.
Retain only those rows where ’Pclass’ is equal to 1, representing first-class passengers. What is the mean,
median, maximum value, and minimum value of the ’Fare’ column?

In [ ]:
#Creating a dataframe
df=pd.DataFrame({
    'Name': ['Alice','Bob','Charlie','Daisy','Chris'],
    'Pclass':[1,2,1,2,3],
    'Age':[18,20,None,22,21],
    'Fare':[400,200,400,200,100],
    'Survived':[1,0,1,1,1]
})
#checking the info of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   Pclass    5 non-null      int64
 2   Age       4 non-null      float64
 3   Fare      5 non-null      int64
 4   Survived  5 non-null      int64
dtypes: float64(1), int64(3), object(1)
memory usage: 328.0+ bytes

In [ ]:
#returns only those rows where Pclass is equal to 1
first_class=df[df['Pclass']==1]
print("Rows where Pclass is 1 = \n",first_class)

Rows where Pclass is 1 =
       Name  Pclass   Age  Fare  Survived
0    Alice       1  18.0   400         1
2  Charlie       1   NaN   400         1

In [ ]:
#Calculating mean
fare_mean=df.Fare.mean()
print("Mean of the fare column= ",fare_mean)

Mean of the fare column=  260.0

In [ ]:
#Calculating median
fare_median=df.Fare.median()
print("Median of the fare column= ",fare_median)

Median of the fare column=  200.0

In [ ]:
#Calculating Maximum value
fare_max=df.Fare.max()
print("Maximum value of the fare column= ",fare_max)

Maximum value of the fare column=  400

In [ ]:
#Calculating minimum value
fare_min=df.Fare.min()
print("Minimum value of the fare column= ",fare_min)

Minimum value of the fare column=  100

Problem - 2:
How many null values are contained in the ’Age’ column in your subsetted DataFrame? Once you’ve found
this out, drop them from your DataFrame.

In [ ]:
#calculating the null values present in Age
null_values=df['Age'].isnull().sum()
print("Number of null values in Age column= ",null_values)

Number of null values in Age column=  1

In [ ]:
#dropping those rows which contain null values in Age column
df=df.dropna(subset=['Age']) #subset=['Age'] this part shows that the operation should be focused in Age column
print("Dataframe without null values=\n",df)

Dataframe without null values=
     Name  Pclass   Age  Fare  Survived
0  Alice       1  18.0   400         1
1    Bob       2  20.0   200         0
3  Daisy       2  22.0   200         1
4  Chris       3  21.0   100         1

Problem - 3:

The ’Embarked’ column in the Titanic dataset contains categorical data representing the ports of embarka-
tion:

• ’C’ for Cherbourg
• ’Q’ for Queenstown
• ’S’ for Southampton
Task:
1. Use one-hot encoding to convert the ’Embarked’ column into separate binary columns (’Embarked C’,
’Embarked Q’, ’Embarked S’).
2. Add these new columns to the original DataFrame.
3. Drop the original ’Embarked’ column.
4. Print the first few rows of the modified DataFrame to verify the changes.

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Concepts and Technology of AI/Titanic-Dataset.csv")
#1.Using one hot encoding to convert the 'Embarkeed' column into separate binary columns
one_hot_encoding=pd.get_dummies(df['Embarked'],prefix="Embarked") #converts the Embarked column into binary columns prefixed with Embarked_

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Concepts and Technology of AI/Titanic-Dataset.csv'

In [ ]:
#2.Concatenates the new columns to the original DataFrame along the columns axis.
df_encoded=pd.concat([df,one_hot_encoding],axis=1)
print("Using one hot encoding:\n",df_encoded)

NameError: name 'one_hot_encoding' is not defined

In [ ]:
#3.Dropping the original Embarked column
df_without_embarked=df.drop(columns=['Embarked'])
#printing the first five rows of the modified dataframe
print("First five rows of dataframe without Embarked column=\n",df_without_embarked.head(5))

Problem - 4:

Compare the mean survival rates (’Survived’) for the different groups in the ’Sex’ column. Draw a visual-
ization to show how the survival distributions vary by gender.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
#Calculate the mean survival rates by gender
mean_survival=df.groupby('Sex')['Survived'].mean()
print(mean_survival)

NameError: name 'df' is not defined

In [ ]:
#Visualization: Mean survival rates by gender
plt.figure(figsize=(8,6))
sns.barplot(x=mean_survival.index, y=mean_survival.values, palette='pastel') #a bar plot showing the average survival rate for males and females
plt.xlabel('Sex')
plt.ylabel('Mean Survival Rate')
plt.title('Mean Survival Rates by Gender')
plt.show()

In [ ]:
#Visualization: Suvival distributions by gender
plt.figure(figsize=(8,6))
sns.violinplot(x='Sex', y='Survived', data=df, palette='pastel') #A violin plot showing the distribution of survival (0 or 1) for males and females.
plt.xlabel('Sex')
plt.ylabel('Survived')
plt.title('Survival Distributions by Gender')
plt.show()

Problem - 5:

Draw a visualization that breaks your visualization from Exercise 3 down by the port of embarkation (’Em-
barked’). In this instance, compare the ports ’C’ (Cherbourg), ’Q’ (Queenstown), and ’S’ (Southampton).

In [ ]:
# Visualization: Violin plot by gender and port of embarkation
plt.figure(figsize=(10, 6))
sns.violinplot(x='Sex', y='Survived', hue='Embarked', data=df, split=True, palette='muted')
plt.title('Survival Distributions by Gender and Embarkation Port')
plt.ylabel('Survived')
plt.xlabel('Gender')
plt.legend(title='Embarked')
plt.show()

NameError: name 'plt' is not defined